
.sidebar {
    position: fixed;
    top: 80px;
    width: 200px;
}

.sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

.active > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}

#basic-info {
    margin-top: 20px;
}

.content-block {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}
