body {
    font-family: Rockwell, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    min-width: 740px;
    width: 960px;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    border: 1px solid #AAA;
    background: #fff url(../icons/header_bg.gif) repeat-x top;
}
a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
a[href] {
    color: #583;
}
h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 3em;
    color: #11557C;
}


div#container {
    min-height: 800px;
}

/* header part */
#header {
    height: 140px;
}
#header h1 {
    float: left;
    margin-left: 25px;
    margin-top: 15px;
}
#header h1 small{
    font-size: 0.4em;
}
#menu {
    float: right;
}
#menu ul {
    list-style: none;
    margin: 0;
    text-align: center;
    margin-top: 75px;
    margin-right: 25px;
}
#menu ul li {
    display: block;
    float: left;
    margin-left: 10px;
}

/* index part */
#tag-panel-list {
    text-align: left;
    list-style: none;
    padding: 0px;
}

#tag-panel-list li {
    margin: 10px;
    display: inline-block;
}

a.tag-href {
    color: white;
    background-color: #88B9F3;
    padding: 10px;
    cursor: pointer;
    
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
}

a.tag-href:hover {
    background-color: #105CB6;
}

a.selected {
    background-color: #105CB6;
}

#index {
    min-height: 600px;
}

#index-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

.index-item-row {
    text-align: left;
    list-style: none;
    border-bottom:thin solid gray;
    padding: 0px;
    height: 40px;
}

.index-item-row li {
    float: left;
    display: block;
    margin: 10px;
    width: 300px;
}


/* wraper part */
#wrapper {
    min-height: 600px;
    background-image: url(../icons/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    margin: 10px;
}
.panel ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.panel ul li {
    display: inline;
}
.panel ul li.prev{
    float: left;
}
.panel ul li.main {
    text-align: center;
    margin: 0 auto;
}
.panel ul li.next {
    float: right;
}

div#post {
    min-height: 600px;
    background-color: white;
}
