body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 940px;
    padding-left: 10px;
    padding-right: 10px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 940px;
    background: #fff;
}

#container {
    padding-top: 5px;
}

