<div id="index" ng-controller="IndexListCtrl">
  <div id="tag-panel">
      <div id="current-tag" class="btn btn-info"><a href="/">{{currentTag.text}}</a></div>
      <button id="extend-btn" class="btn pull-right">
        <div id="extend-img" class="glyphicon glyphicon-circle-arrow-down"
          ng-click="showTagPanel = !showTagPanel"></div>
      </button>
  </div>
  <ul id="tag-panel-list" ng-show="showTagPanel">
    <li class="tag-item btn btn-info" ng-repeat="(tag, tagInfo) in tagList">
      <a class="tag-href" href="{{tagInfo.href}}">{{tagInfo.text}}</a>
    </li>
  </ul>
  <table id="index-list" class="table table-hover">
    <tr class="index-item-row" ng-repeat="item in indexList | filter:currentTag.filter">
      <td class="post-title"><a href="#/post/{{item.path}}">{{item.title}}</a></td>
      <td class="post-date">{{item.date}}</td>
      <td class="post-tags">
        <a class="post-tag-href" href="#/tag/{{tag}}" ng-repeat="tag in item.tags">
          {{tag}};
        </a>
      </td>
    </tr>
  </table>
</div>